html {
    font-size: 1em;
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
    font-size: 1em;
    font-weight: 400;
    color: #fff;
    background-color: #000;
    min-width: 320px;
}

img {
    z-index: 1;
    max-width: 100%;
    height: auto;
}

a {
    color: #000;
}


.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-weight: 600;
    text-transform: uppercase;
}


.top-menu li a::after{
    content: '';
    display: block;
    width: 100%;
    background-color: #111;
    height: 1px;
    transition: all 0.3s;
    transform: scale(0);
}

.top-menu li a:hover::after{
    transform: scale(1);
}

.container-fluid {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.logo {
    width: 200px;
}


@media (max-width: 375px) {
    body {
      font-size: 0.3em;
    }

    .custom-ul i {
        font-size: 2em;
    }
    
    .footer form {
        display: none;
    }
    
    .feedback { 
        display: none;
    }


  }

@media (min-width: 426px) and (max-width: 768px) {
    body {
        font-size: 0.2em;
    }

    .custom-ul i {
        font-size: 2em;
    }
    
    .footer form {
        display: none;
    }
    
    .feedback { 
        display: none;
    }
}


@media (min-width: 425px) and (max-width: 768px) {
    body {
      font-size: 0.5em;
    }

    .first-screen-text {
        font-size: 2em;
    }

    .first-screen-text .btn-container {
        display: none;
    }


  }

@media (min-width: 769px) and (max-width: 1024px) {
    body {
        font-size: 0.8em;
    }

    

}

@media (min-width: 1025px) and (max-width: 1440px) {
    body {
        font-size: 1em;
    }

}


@media (min-width: 1441px) and (max-width: 2560px) {
    body {
        font-size: 1em;
    }

    
}


.first-screen { 
    border-bottom: 2px solid #fff;
}

.first-screen-custom-row {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.hello-div {
    display: inline-block;
    font-family: "Oswald", sans-serif;
    font-size: 6em;
    font-weight: 600;
    color: #000;
    background-color: #ffffff;
    padding: 0.2em;
    margin-bottom: 0.3em;
    opacity: 0;
    animation-name: fadeForm;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.first-screen-text {
    margin-bottom: 6em;
}


.mixer-img img {
    height: 910px;
    opacity: 0;
    animation-name: fadeForm;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeForm {
    0% {
        opacity: 0;
    }
    25% {
        opacity: .25;
    }
    50% {
        opacity: .50;
    }
    75% {
        opacity: .75;
    }
    100% {
        opacity: 1;
    }   
}

.first-screen-small-text {
    display: block;
    max-width: 100%;
    font-size: 4em;
    font-family: "Montserrat", sans-serif;
    opacity: 0;
    animation-name: fadeForm;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.7s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}



@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

.btn-container {
    margin-top: 3em;
    width: 400px;
    height: 400px;
    position: absolute;

}

.btn-center {
    width: 180px;
    height: 60px;
    position: absolute;
}

.btn-1 {
    width: 180px;
    height: 60px;
    cursor: pointer;
    background: transparent;
    border: 1px solid #202020;
    outline: none;
    transition: 1s ease-in-out;
    opacity: 0;
    animation-name: fadeForm;
    animation-duration: .7s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

svg {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #fff;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn-1:hover {
  transition: 1s ease-in-out;
  background: #410502;
}

.btn-1:hover svg {
  stroke-dashoffset: -480;
}

.btn-1 span {
  color: white;
  font-size: 18px;
  font-weight: 100;
}



.header-span-div {
    font-family: "Open-sans", sans-serif;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.h1-span {
    font-size: 7em;
}

.h2-span {
    font-size: 3.5em;
}

.second-screen {
    z-index: 2;
    height: 100vh;
    border-bottom: 2px solid #fff;
}

.second-screen .header-span-div {
    margin: 0; 
}

.second-screen-row-1 {
    margin-top: 3em;
}

.second-screen-row-3 {
    display: flex;
    margin-top: 9em;
}

.second-screen-row-3 p {
    text-align: left;
    font-size: 1.5em;
    margin-top: 2em;
    font-weight: 400;
}

.avatar-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar {
    max-width: 20em;
    max-height: auto;
    border-radius: 50%;
}

.about-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about{
    font-weight: 600;
    font-size: 3em;
}

.about-mini {
    margin-top: 1em;
    font-weight: 400;
    font-size: 2em;
}

.details {
    font-size: 1em;
    display: flex;
    flex-direction: column;
}

.detail {
    font-size: 1.5em;
    font-style: oblique;
    font-weight: 300;
    margin-top: 0.5em;
}


.third-screen {
    display: flex;
    justify-content: center;
    height: 100vh;
    border-bottom: 2px solid #fff;
}

.third-screen-first-row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.gift-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-col span {
    font-size: 3em;
    margin-top: 1em;
}                   

.gift-icon {
    font-size: 15em;
}

.modal-content {
    color: #000;
}

.modal-a {
    color: #fff;
    text-decoration: none;
}

.footer {
    display: flex;
    font-family: "Roboto", sans-serif;
    color: white;
    height: 45vh;
    background-color: #202020;
}

.footer-container {
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.custom-row {
    display: flex;
    width: 70%;
    justify-content: space-around;
    margin-top: 2em;
}

.header-txt {
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    font-size: 3em;
}

.info-list {
    margin-top: 20px;
    list-style-type: disc;
}

.info-list a {
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
}

.custom-ul {
    display: flex;
    justify-content:center;
    margin-right: 25px;
}

.icons-list li {
    display: inline-block;
    margin-right: 1em; 
}

.custom-icon {
    margin-top: 20px;
    font-size: 46px;
    color: #fff;
}



input {
    font-family: "Montserrat", sans-serif;
    height: 45px;
    width: 100%;
    color: #3B5983;
    font-size: 16px;
    font-weight: 400;
    border: 2px solid #5c5757;
    border-radius: 5px;
    padding-left: 25px;
}

input:focus {
    outline: none;
    border: 2px solid #911007;
}

.form-field {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
.glow-on-hover {
    margin-top: 1em;
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}



.text-center {
  text-align: center;
}

.rainbow{
    text-decoration: none;
    background-color: #000;
    border-radius: 30%;  
    color: #fff;
    cursor: pointer;
    padding: 8px 16px;
  
}

.rainbow-4:hover{
    color: #fff;
   background-image:     linear-gradient(
      to right, 
      #E7484F,
      #F68B1D, 
      #FCED00,
      #009E4F,
      #00AAC3,
      #732982
    );
  animation:slidebg 2s linear infinite;
}


.rainbow-5:hover{
    color: #fff;
   background-image:     linear-gradient(
      to right, 
      #E7484F,
      #E7484F 16.65%,
      #F68B1D 16.65%,
      #F68B1D 33.3%,
      #FCED00 33.3%,
      #FCED00 49.95%,
      #009E4F 49.95%,
      #009E4F 66.6%,
      #00AAC3 66.6%,
      #00AAC3 83.25%,
      #732982 83.25%,
      #732982 100%,
      #E7484F 100%
     
     
     
    );
  animation:slidebg 2s linear infinite;
}


@keyframes slidebg {
  to {
    background-position:20vw;
  }
}
